<row>
    <div class="col-12">
        <h3>Pancake base recipe for 4 people</h3>
        <table class="table-striped">
            <thead>
            <tr>
                <td>Ingredient name</td>
                <td>Ingredient amount</td>
                <td>Ingredient unit</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>flour</td>
                <td>20</td>
                <td>dkg</td>
            </tr>
            <tr>
                <td>egg</td>
                <td>2</td>
                <td>pcs</td>
            </tr>
            <tr>
                <td>milk</td>
                <td>3</td>
                <td>dl</td>
            </tr>
            <tr>
                <td>carbonated mineral water</td>
                <td>2</td>
                <td>dl</td>
            </tr>
            <tr>
                <td>salt</td>
                <td>1</td>
                <td>pinch</td>
            </tr>
            <tr>
                <td>oil</td>
                <td>0.75</td>
                <td>dl</td>
            </tr>
            <tr>
                <td>oil for cooking</td>
                <td>1</td>
                <td>dl</td>
            </tr>
            </tbody>
        </table><br>
    </div>
</row>