{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        {% include 'recipe/base_recipe.html.twig' %}
        {% include 'recipe/form.html.twig' %}
    </div>
{% endblock %}
